@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.button {
    &.fullWidth {
        width: 100%;

        button,
        .linkBtn {
            width: 100%;
            justify-content: center;
            min-height: 50px;
        }
    }

    &.light {
        button {
            background: #F1F5FC;
            border: 1px solid #F1F5FC;
            color: #0B56DB;
        }
    }

    &.outline {
        button {
            border: 1px solid #0B56DB;
            background-color: #fff;
            color: #0B56DB;

            .icon {
                background-color: #0B56DB;
            }

        }
    }

    button {
        padding: 6px 6px 6px 29px;
        background: #0B56DB;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        position: relative;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        border: 1px solid #0B56DB;
        cursor: pointer;
        text-decoration: none;
        line-height: normal;

        :global([dir="rtl"]) & {
            padding: 6px 29px 6px 6px;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:hover {
            .icon {
                img {
                    transform: rotate(45deg);
                }
            }
        }

        .icon {
            width: 38px;
            height: 38px;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            img {
                display: block;
                transition: 0.3s ease-in-out;
            }
        }
    }

    .linkBtn {
        padding: 6px 6px 6px 29px;
        background: #0B56DB;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #0B56DB;
        cursor: pointer;
        text-decoration: none;
        line-height: normal;

        :global([dir="rtl"]) & {
            padding: 6px 29px 6px 6px;
        }

        &:hover {
            .icon {
                img {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .motionInner {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        width: 100%;

        .icon {
            width: 38px;
            height: 38px;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            img {
                display: block;
                transition: 0.3s ease-in-out;
            }
        }
    }
}