@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.plansSection {
    padding: 10px 0;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;

    @include respond-to('md') {
        padding: 10px 0;
    }

    @include respond-to('sm') {
        padding: 10px 0;
    }
}
