@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.tradersSection {
    padding: 100px 0;

    @include respond-to('md') {
        padding: 80px 0;
    }

    @include respond-to('sm') {
        padding: 60px 0;
    }

    .title {
        padding: 24px 0 60px 0;

        @include respond-to('sm') {
            padding: 16px 0 40px 0;
        }

        h2 {
            color: #1A1A1A;
            font-size: 42px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.26px;
            text-transform: capitalize;
            text-align: center;
            margin: 0 0 16px 0;
            font-family: var(--font-plus-jakarta);

            @include respond-to('md') {
                font-size: 36px;
            }

            @include respond-to('sm') {
                font-size: 28px;
            }
        }

        p {
            color: #5F5F5F;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            max-width: 645px;
            margin: 0 auto;

            @include respond-to('sm') {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include respond-to('md') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to('sm') {
            grid-template-columns: 1fr;
        }

        .items {
            border: 1px solid rgba(26, 26, 26, 0.12);
            background: #FFF;
            box-shadow: 0 0 27.6px 0 rgba(0, 0, 0, 0.06);
            padding: 30px;
            position: relative;
            overflow: hidden;

            @include respond-to('sm') {
                padding: 24px;
            }

            &::before {
                position: absolute;
                bottom: 0;
                right: 0;
                content: '';
                background: #0B56DB;
                width: 80px;
                height: 150px;
                opacity: 0.3;
                filter: blur(55.29999923706055px);
            }

            .imageAlignment {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 9;

                @include respond-to('sm') {
                    position: inherit;
                    display: none;
                }

                img {
                    display: block;
                    max-width: 160px;

                    @include respond-to('sm') {
                        max-width: 130px;
                    }
                }
            }

            .icon {
                padding: 0 0 40px 0;

                @include respond-to('sm') {
                    padding: 0 0 30px 0;
                }

                img {
                    display: block;
                    max-width: 50px;
                }
            }

            .readmore {
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                position: relative;
                z-index: 10;

                span {
                    display: block;
                    color: #0B56DB;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                }
            }

            p {
                max-width: 330px;
                color: rgba(26, 26, 26, 0.70);
                font-size: 17px;
                font-style: normal;
                margin: 0 0 30px 0;
                font-weight: 400;
                line-height: 28px;
                position: relative;
                z-index: 10;

                @include respond-to('sm') {
                    font-size: 15px;
                    margin: 0 0 20px 0;
                    line-height: 24px;
                }
            }

            h3 {
                margin: 0 0 10px 0;
                color: #1A1A1A;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: relative;
                z-index: 10;

                @include respond-to('sm') {
                    font-size: 20px;
                }
            }
        }
    }
}